# Auto detect text files and perform LF normalization
* text=auto
Assets/ThirdParty/**.jpg filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**.obj filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**.glb filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**.png filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**/*.obj filter=lfs diff=lfs merge=lfs -text
Assets/ThirdParty/**/*.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Characters/EarthRestorer/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Story/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Resources/MinigameArt/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Resources/FrontendArt/*.png filter=lfs diff=lfs merge=lfs -text
